car_ims/
cars_annos.mat
comp_cars/
cfg/
dataset/
datasets/
logs/
models/
output/
pickle/
trainings/
src/__pycache__
src/trial_nb
veri-wild/
*.pickle
*.ipynb_checkpoints/
*.tgz
EUjZZqlp_5RHnPxwfQFdn2oB-dARKL5bvpSKBni3x2QUlg
